$primary1: hsl(0, 0%, 16%);
$primary2: hsl(0, 0%, 22%);

$secondary1: hsl(275, 83%, 51%);
$secondary2: hsl(275, 92%, 60%);

$background-page: hsl(275, 90%, 5%);
$background-element: hsl(275, 100%, 4%);